// own-app styles

section {
  &.hero.is-light.is-bold {
    background-image: url("images/workshop-1746275_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

  }
}
div.column {
  div.tile.is-vertical {
    box-shadow: 3px 7px 15px 0 rgba(0,0,0,0.75);
    &:hover {
      border: 1px solid grey;
    }
  }
}
